<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="EPAM_5"/>
  <assembly name="EPAM_5.DAL"/>
  <assembly name="EPAM_5.BLL"/>
  <alias alias="Category" type="EPAM_5.Entities.Category, EPAM_5.Entities" />
  <alias alias="ProductStatusType" type="EPAM_5.Entities.ProductStatusType, EPAM_5.Entities" />
  <container>
    <register type="EPAM_5.DAL.IStoreDataUnitOfWork" mapTo="EPAM_5.DAL.StoreDataUnitOfWork">
      <lifetime type="singleton" />
      <constructor>
        <!--Set placeholder for value attribute and replace it at runtime-->
        <param name="connectionString" value="{connectionString}" />
      </constructor>
    </register>    
    <!--Change data sources by mapping to different assembly.namespace.repository-->    
     <register type="EPAM_5.DAL.IGenericRepository[Category]" mapTo="EPAM_5.GenericRepository[Category]"/>
     <register type="EPAM_5.DAL.IGenericRepository[ProductStatusType]" mapTo="EPAM_5.GenericRepository[ProductStatusType]"/>
     <register type="EPAM_5.DAL.IProductRepository" mapTo="EPAM_5.DAL.ProductRepository"/>
     <register type="EPAM_5.DAL.IContactRepository" mapTo="EPAM_5.DAL.ContactRepository"/>    
     <register type="EPAM_5.BLL.IProductBS" mapTo="EPAM_5.BLL.ProductBS"/>
     <register type="EPAM_5.BLL.ILookupBS" mapTo="EPAM_5.BLL.LookupBS"/> 
  </container>  
</unity>
